body{
    background: rgb(133, 8, 133);
}
form{
    color: white;
}
.img-juego{

   display: block;
   width: 100%;
   height: 500px;
}
@media screen and (max-width: 720px){
    .img-juego{
        height: 200px;
    }
}